amp-ecs/ECS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:org.dgfoundation.amp.ecs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:org.dgfoundation.amp.ecs" xmlns:intf="urn:org.dgfoundation.amp.ecs" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:org.dgfoundation.amp.ecs" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ErrorUser">
    <sequence>
     <element name="fullName" nillable="true" type="soapenc:string"/>
     <element name="login" nillable="true" type="soapenc:string"/>
     <element name="password" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfErrorUser">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:ErrorUser[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ErrorScene">
    <sequence>
     <element name="browser" nillable="true" type="soapenc:string"/>
     <element name="date" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfArrayOfErrorScene">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:ErrorScene[][]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="UserScenes">
    <sequence>
     <element name="scenes" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="user" nillable="true" type="impl:ErrorUser"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserResponse">

      <wsdl:part name="getUserReturn" type="impl:ErrorUser"/>

   </wsdl:message>

   <wsdl:message name="sendErrorResponse">

      <wsdl:part name="sendErrorReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="sendErrorRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="xsd:int"/>

      <wsdl:part name="in2" type="soapenc:string"/>

      <wsdl:part name="in3" type="impl:ArrayOfErrorUser"/>

      <wsdl:part name="in4" type="impl:ArrayOfArrayOfErrorScene"/>

   </wsdl:message>

   <wsdl:message name="getUserScenesResponse">

      <wsdl:part name="getUserScenesReturn" type="impl:UserScenes"/>

   </wsdl:message>

   <wsdl:message name="getUserScenesRequest">

   </wsdl:message>

   <wsdl:message name="getParametersRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getSceneRequest">

   </wsdl:message>

   <wsdl:message name="getUserRequest">

   </wsdl:message>

   <wsdl:message name="getParametersResponse">

      <wsdl:part name="getParametersReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getSceneResponse">

      <wsdl:part name="getSceneReturn" type="impl:ErrorScene"/>

   </wsdl:message>

   <wsdl:portType name="ECS">

      <wsdl:operation name="getParameters" parameterOrder="in0 in1">

         <wsdl:input message="impl:getParametersRequest" name="getParametersRequest"/>

         <wsdl:output message="impl:getParametersResponse" name="getParametersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendError" parameterOrder="in0 in1 in2 in3 in4">

         <wsdl:input message="impl:sendErrorRequest" name="sendErrorRequest"/>

         <wsdl:output message="impl:sendErrorResponse" name="sendErrorResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUser">

         <wsdl:input message="impl:getUserRequest" name="getUserRequest"/>

         <wsdl:output message="impl:getUserResponse" name="getUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getScene">

         <wsdl:input message="impl:getSceneRequest" name="getSceneRequest"/>

         <wsdl:output message="impl:getSceneResponse" name="getSceneResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserScenes">

         <wsdl:input message="impl:getUserScenesRequest" name="getUserScenesRequest"/>

         <wsdl:output message="impl:getUserScenesResponse" name="getUserScenesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ECSSoapBinding" type="impl:ECS">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getParameters">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getParametersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getParametersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendError">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendErrorRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="sendErrorResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getScene">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSceneRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSceneResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserScenes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserScenesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserScenesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:org.dgfoundation.amp.ecs" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ECSService">

      <wsdl:port binding="impl:ECSSoapBinding" name="ECS">

         <wsdlsoap:address location="http://localhost:8080/axis/services/ECS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
