amp/src/main/webapp/WEB-INF/schemas/report.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.developmentgateway.org/amp/reports"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.developmentgateway.org/amp/reports">
  
  <xs:element type="reportParameter" name="reportParameter" xmlns="http://www.developmentgateway.org/amp/reports" />
  
  <xs:complexType name="reportParameter">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="columns" name="columns" minOccurs="0" />
      <xs:element type="measures" name="measures" minOccurs="0" />
      <xs:element type="hierarchies" name="hierarchies" minOccurs="0" />
      <xs:element type="settings" name="settings" minOccurs="0" />
      <xs:element type="filters" name="filters"/>
      <xs:element type="groupingOption" name="groupingOption" minOccurs="0" />
      <xs:element type="xs:boolean" name="summary" minOccurs="0" />
      <xs:element type="xs:string" name="xsl" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="columns">
    <xs:annotation>
      <xs:documentation>A list of columns to be added to the report configuration</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="column" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
   <xs:complexType name="measures">
     <xs:annotation>
      <xs:documentation>A list of measures to be added to the report configuration</xs:documentation>
     </xs:annotation>
     <xs:sequence>
       <xs:element type="xs:string" name="measure" maxOccurs="unbounded" minOccurs="1"/>
     </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="hierarchies">
    <xs:annotation>
      <xs:documentation>A list of hierarchies to be added to the report configuration</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element type="xs:string" name="hierarchy" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="groupingOption">
    <xs:restriction base="xs:string">
	  <xs:enumeration value="A" />
	  <xs:enumeration value="Q" />
      <xs:enumeration value="M" />
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="report" type="report" />
  
  <xs:complexType name="report">
    <xs:sequence>
      <xs:element type="output" name="output"/>
      <xs:element type="config" name="config"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="output">
    <xs:sequence>
      <xs:element type="headers" name="headers"/>
      <xs:element type="reportArea" name="reportArea"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="config">
    <xs:sequence>
      <xs:element type="sorting" name="sorting"/>
      <xs:element type="filters" name="filters"/>
      <xs:element type="settings" name="settings"/>
      <xs:element type="groupingOption" name="groupingOption" minOccurs="0" />
      <xs:element type="xs:boolean" name="summary" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="headers">
    <xs:sequence>
      <xs:element type="column" name="column" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="column">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description" minOccurs="0"/>
      <xs:element type="xs:string" name="hierarchicalName"/>
      <xs:element type="parentColumn" name="parentColumn" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="parentColumn">
    <xs:sequence>
      <xs:element type="column" name="column" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="reportArea">
    <xs:sequence>
      <xs:element type="contents" name="contents"/>
      <xs:element name="children" type="children"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="contents">
    <xs:sequence>
      <xs:element type="cell" name="cell" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="cell">
    <xs:sequence>
      <xs:element type="xs:string" name="columnName"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="children">
    <xs:sequence>
      <xs:element type="reportArea" name="reportArea" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="sorting">
    <xs:sequence>
      <xs:element type="sort" name="sort"  maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="sort">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="asc"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="settings">
    <xs:sequence>
      <xs:element type="xs:string" name="currency-code"/>
      <xs:element type="xs:int" name="calendar-id" nillable="true"/>
      <xs:element type="yearRange" name="year-range"/>
      <xs:element type="amountFormat" name="amount-format"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="yearRange">
    <xs:sequence>
      <xs:element name="from" nillable="true">
        <xs:simpleType>
	      <xs:restriction base="xs:int">
	        <xs:minInclusive value="1970"/>
	        <xs:maxInclusive value="2900"/>
	      </xs:restriction>
	    </xs:simpleType>
      </xs:element>
      <xs:element type="xs:int" name="to" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="amountFormat">
    <xs:annotation>
      <xs:documentation>A list of configurations for number format</xs:documentation>
    </xs:annotation>
    <xs:sequence>
       <xs:element type="xs:int" name="number-divider" nillable="true"/>
         <xs:element type="xs:int" name="max-frac-digits" nillable="true"/>
         <xs:element type="xs:string" name="decimal-symbol" minOccurs="0"/>
         <xs:element type="xs:boolean" name="use-grouping"/>
         <xs:element type="xs:string" name="group-separator" minOccurs="0"/>
         <xs:element type="xs:int" name="group-size" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="filters">
    <xs:sequence>
      <xs:element type="filter" name="filter"  maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="filter">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="values" name="values"/>
      <xs:element type="xs:string" name="start" minOccurs="0"/>
      <xs:element type="xs:string" name="end" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="values">
    <xs:sequence>
      <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
