amp/WEB-INF/src/org/dgfoundation/amp/reports/xml/xmlCustomReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element name="columns">
         <xs:annotation>
        	<xs:documentation>A list of columns to be added to the report configuration</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="column" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="measures">
          <xs:annotation>
        	<xs:documentation>A list of measures to be added to the report configuration</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="measure" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="hierarchies">
          <xs:annotation>
        	<xs:documentation>A list of hierarchies to be added to the report configuration</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="hierarchy" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="currency-code"/>
              <xs:element type="xs:int" name="calendar-id" nillable="true"/>
              <xs:element name="year-range">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="from" nillable="true">
                      <xs:simpleType>
					    <xs:restriction base="xs:int">
					      <xs:minInclusive value="1970"/>
					      <xs:maxInclusive value="2900"/>
					    </xs:restriction>
					  </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:int" name="to" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="amount-format">
                <xs:annotation>
        		 <xs:documentation>A list of configuration for number format</xs:documentation>
          	    </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="number-divider" nillable="true"/>
                    <xs:element type="xs:int" name="max-frac-digits" nillable="true"/>
                    <xs:element type="xs:string" name="decimal-symbol"/>
                    <xs:element type="xs:boolean" name="use-grouping"/>
                    <xs:element type="xs:string" name="group-separator"/>
                    <xs:element type="xs:int" name="group-size" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>