amp/src/main/java/org/digijava/module/aim/services/publicview/conf.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="report-table-config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tables">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="table" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="report-url"/>
										<xs:element type="xs:string" name="xsl-file"/>
										<xs:element type="xs:string" name="html-file"/>
									</xs:sequence>
									<xs:attribute type="xs:string" name="name" use="optional"/>
									<xs:attribute type="xs:boolean" name="budgetExport" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:anyURI" name="baseUrl"/>
			<xs:attribute type="xs:string" name="workFileDir"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
